# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments (just in case)
venv/
.venv/

# PyCharm settings
.idea/

# Package results and sources
/data/
