# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments (just in case)
venv/
.venv/

# PyCharm settings
.idea/

# Package results and sources
/data/
/mlruns/
/.nox/
/.mypy_cache/
